body{
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url("bckgrd.png");
	background-size: 100vw 100vh;
	}
	
div.stripe{
	position: relative;
	top: -10px;
	left: -10px;
	width: 1vw;
	height: 100vh;
	background-color: #000;
	float:left;
	transition: top 20s ease;
}
	div.stripe:hover{
	top: 100vh;
	transition: top .5s ease;
	}